html
  head
    include partials/template/header.pug
    title= siteTitle
  body
    include partials/template/navbar.pug
    div(class="container")
      div(class="page-header")
        h1= "Recipes"
      div(id="jsGrid")
