<html>
<head>
  <title><%= siteTitle %></title>
</head>
<body>
  Favorite Recipe
  <ul>
  <% recipes.forEach(function(item) { %>
    <li><%= item.name %></li>
  <% }) %>
</ul>
  <a href='recipes'>New</a>
  <% include partials/template/jsdefaults.ejs %>
</body>
